.page-header
  %h1=@user.login
- if Secpost.create_by?(@user, @current_user)
  = link_to 'add post', new_secpost_path(user_id: @user.id), class: 'btn btn-primary'
- if @secposts.blank?
  .alert.alert-info Нет записей
- else
  - @secposts.each do |secpost|
    = render 'secposts/secpost', secpost: secpost
